<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= staticContentUrl %>/ejs/styles.css" />
    <script defer src="<%= staticContentUrl %>/ejs/runtime.js"></script>
    <script defer src="<%= staticContentUrl %>/ejs/navBar.js"></script>
    <script defer src="<%= staticContentUrl %>/ejs/chatRoom.js"></script>
    <script defer src="<%= staticContentUrl %>/ejs/ejs.min.js"></script>
    <title>Room Page</title>
  </head>
  <body>
    <div
      class="roboto antialiased h-screen max-h-screen bg-base-100 flex flex-col"
    >
      <%- include('./components/navBar', {username, profileColor,
      navJoinRequest, isProduction, domainUrl}); %>
      <div class="flex-1 flex max-h-screen overflow-y-hidden">
        <%# A Sidebar will go here in the future. Give Sidbar a 10% width and
        messages 90% %> <%# uncomment below for sidebar %>
        <%# div class="bg-base-300 w-[10%] overflow-y-auto">Sidebar</%div %>
        <%# once I have sidebar, change width below to 90% %>
        <div class="flex flex-col justify-end w-[100%]">
          <%# messages %>
          <div
            id="messagesContainer"
            class="flex flex-col overflow-y-auto divide-y divide-base-content"
            data-lastevaluatedkey="<%= LastEvaluatedKey %>"
          >
            <% for (let i = roomMessages.length - 1; i >= 0; i--) { %> <% const
            roomMessageData = roomMessages[i] %> <%-
            include("./components/chatRoom/messageBox", { userName:
            roomMessageData.userName, messageId: roomMessageData.messageId,
            messageDate: roomMessageData.messageDate, profileColor:
            roomMessageData.profileColor, RoomUserStatus:
            roomMessageData.RoomUserStatus, message: roomMessageData.message})
            %> <% } %>
          </div>
          <div class="flex justify-center">
            <div
              class="flex justify-between gap-1 w-[98%] p-1 bg-base-300 rounded-xl"
            >
              <textarea
                class="resize-none bg-base-300 rounded-xl grow px-1 outline-hidden"
                id="input"
                placeholder="Enter Chat Message Here"
                maxlength="2000"
              ></textarea>
              <!-- <div class="flex items-end"> -->
              <div class="flex flex-col justify-end items-center">
                <button
                  class="rounded-full p-1 btn btn-circle btn-accent text-accent-content"
                  id="button"
                  disabled
                >
                  Send
                </button>
                <div id="inputCharCount">0/2k</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
