<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (isProduction) { %>
    <link rel="stylesheet" href="ejs/styles.css" />
    <script defer src="ejs/runtime.js"></script>
    <script defer src="ejs/navBar.js"></script>
    <script defer src="ejs/dashboard.js"></script>
    <% } else { %>
    <link rel="stylesheet" href="http://localhost:8000/ejs/styles.css" />
    <script defer src="http://localhost:8000/ejs/runtime.js"></script>
    <script defer src="http://localhost:8000/ejs/navBar.js"></script>
    <script defer src="http://localhost:8000/ejs/dashboard.js"></script>
    <% } %>
    <title>DashBoard</title>
  </head>
  <body class="min-h-screen bg-base-300">
    <div class="roboto antialiased">
      <%- include('./components/navBar', { profileColor, username,
      anyJoinRequest: false, navJoinRequest, isProduction}); %>
      <div class="container mx-auto rounded-b px-2 pb-2 pt-4 flex gap-2">
        <%# Owned rooms card %>
        <div class="bg-base-100 rounded-2xl p-2 grow space-y-4">
          <div class="flex">
            <h2 class="grow card-title">Owned Rooms</h2>
            <button
              class="btn btn-accent"
              onclick="createRoomModel.showModal()"
            >
              Create Room
            </button>
          </div>
          <%- include('./components/dashboard/showCreatedRooms', { ownedRooms })
          %>
        </div>
        <%# Joined rooms card %>
        <div class="bg-base-100 rounded-2xl p-2 grow space-y-4">
          <div class="flex">
            <h2 class="grow card-title">Joined Rooms</h2>
            <button class="btn btn-accent" onclick="joinRoomModel.showModal()">
              Join Room
            </button>
          </div>
          <%- include('./components/dashboard/showJoinedRooms', { joinedRooms })
          %>
        </div>
      </div>
    </div>
    <!--prettier-ignore-->
    <%- include("./components/dashboard/make-join-room-model", { type: "create" }) %>
    <%- include("./components/dashboard/make-join-room-model", { type: "join" }) %>
    <% if (isProduction) { %>
    <script defer src="ejs/clientCreateRoom.js"></script>
    <script defer src="ejs/clientJoinRoom.js"></script>
    <% } else { %>
    <script defer src="http://localhost:8000/ejs/clientCreateRoom.js"></script>
    <script defer src="http://localhost:8000/ejs/clientJoinRoom.js"></script>
    <% } %>
  </body>
</html>
