<!--prettier-ignore-->

<dialog id="<%= type === "create" ? "createRoomModel" : "joinRoomModel" %>" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg"><%= type === "create" ? "Create a Room!" : "Join a Room!" %></h3>
      <form id="<%= type === "create" ? "create-form" : "join-form" %>" method="dialog">
        <button
          class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          type="button"
          id="<%= type === "create" ? "createCloseModel" : "joinCloseModel" %>"
        >
          ✕
        </button>
        <div class="mt-4 space-y-4">
          <div class="space-x-1">
            <% if (type === "create") { %>
              <label class="block ml-2 underline" for="input-room-name">Room Name</label>
              <input
                name="room-name"
                id="input-room-name"
                type="text"
                placeholder="Type here"
                class="input input-bordered w-full max-w-xs"
                maxlength="25"
              />
              <% } else { %>
                <label class="block ml-2 underline" for="input-room-id">Room ID</label>
                <input
                  name="room-name"
                  id="input-room-id"
                  type="text"
                  placeholder="Type here"
                  class="input input-bordered w-full max-w-xs"
                  maxlength="50"
                />
              <% } %>
          </div>
          <button
            class="btn btn-accent text-accent-content absolute right-4 bottom-4"
            id="<%= type === "create" ? "createSubmitButton" : "joinSubmitButton" %>"
            type="submit"
          >
            Submit
            <span id="submitRoomLoader" class="hidden -translate-x-2 translate-y-1 loading loading-dots loading-sm"></span>
          </button>
        </div>
      </form>
      <div 
        id="<%= type === "create" ? "createmodelError" : "joinmodelError" %>"
        class="hidden bg-error text-error-content font-bold px-2 rounded-md mt-4 max-w-[75%]"></div>
      </div>
  </dialog>
</dialog>
