<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ejs/styles.css" />
    <script defer src="ejs/runtime.js"></script>
    <script defer src="ejs/index.js"></script>
    <title>DashBoard</title>
  </head>
  <body>
    <div class="roboto antialiased h-screen bg-base-300">
      <%- include('../components/navBar'); %>
      <div
        class="container mx-auto rounded-b px-2 pb-2 pt-4 flex justify-evenly gap-2"
      >
        <%# Owned rooms card %>
        <div class="card bg-base-100 p-2 grow gap-4">
          <div class="flex">
            <h2 class="grow card-title">Owned Rooms</h2>
            <button class="btn btn-accent" onclick="makeRoomModel.showModal()">
              Create Room
            </button>
          </div>
          <%- include('../components/dashboard/rooms-display') %>
        </div>
        <%# Joined rooms card %>
        <div class="card bg-base-100 p-2 grow gap-4">
          <div class="flex">
            <h2 class="grow card-title">Joined Rooms</h2>
            <button class="btn btn-accent" onclick="joinRoomModel.showModal()">
              Join Room
            </button>
          </div>
          <%- include('../components/dashboard/rooms-display') %>
        </div>
      </div>
    </div>
    <!--prettier-ignore-->
    <%- include("../components/dashboard/make-join-room-model", { type: "create" }) %>
    <%- include("../components/dashboard/make-join-room-model", { type: "join" }) %>
  </body>
</html>
