<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/ejs/styles.css" />
    <script defer src="/ejs/runtime.js"></script>
    <script defer src="/ejs/navBar.js"></script>
    <title>Document</title>
  </head>
  <body class="min-h-screen bg-base-300">
    <div class="roboto antialiased">
      <%- include("./components/navBar", {profileColor, username,
      anyJoinRequest: false, first5JoinRequest}) %>
      <div
        class="container mx-auto mt-4 border-2 border-base-content rounded-2xl shadow-lg shadow-base-content/30"
      >
        <h1
          class="font-bold text-7xl text-center border-base-content border-b-2"
        >
          <%= roomInfo.roomName %>
        </h1>
        <div class="m-2 space-y-2">
          <%# onwerName and createdAt %>
          <div class="text-2xl flex justify-evenly">
            <div>
              <div class="m-2 flex gap-2">
                <span>Room Owner:</span>
                <span><%= roomOwner.ownerName %></span>
              </div>
            </div>
            <div>
              <div class="m-2 flex gap-2">
                <span>Created At:</span>
                <span><%= roomInfo.createdAt.split("T")[0] %></span>
              </div>
            </div>
          </div>
          <div class="text-2xl text-center">
            Room ID: <%= roomInfo.RoomID %>
          </div>
          <%# Join Request %>
          <div class="border-base-content border-2 rounded-xl text-xl p-1">
            <div class="text-3xl text-center">Join Requests</div>
            <div class="max-h-72 overflow-y-auto flex flex-wrap justify-evenly">
              <% if (isOwnerOrAdmin) {%> <% joinRequests.map((joinRequest) => {
              %>
              <div
                class="flex items-center border-2 border-base-content rounded-xl gap-1 p-2"
              >
                <%- include("./components/profileIcon", {forNav: false,
                username: joinRequest.fromUserName}) %>
                <div class=""><%= joinRequest.fromUserName %></div>
                <div class="ml-4">
                  <button class="btn btn-accent btn-sm">Accept Request</button>
                  <button class="btn btn-accent btn-sm">Request Request</button>
                </div>
              </div>
              <% }) %> <% } %>
            </div>
          </div>
          <%# joined users %>
          <div class="border-base-content border-2 rounded-xl text-xl">
            <div class="m-2">
              <div class="text-center text-3xl">Members</div>
              <div class="divide-y">
                <% if (roomMembers.length > 0) { %> <%
                roomInfo.authedUsers.map((member) => { %>
                <div class="text-2xl py-2">
                  <%- include("./components/profileIcon", {username:
                  member.userName, forNav: false}) %>
                  <span class="align-middle"><%= member.userName %></span>
                  <% if (isOwnerOrAdmin) { %> <%# Not implemented yet %>
                  <button class="ml-3 btn btn-accent btn-sm">Kick</button>
                  <% } %>
                </div>
                <% }) %> <% } else { %>
                <div class="text-center text-2xl">You have no Members yet</div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
